<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.amazon.finances.mapper.AmzSettlementReportSummaryMonthMapper">
	<resultMap id="BaseResultMap" type="com.wimoor.amazon.finances.pojo.entity.AmzSettlementReportSummaryMonth">
		<id column="amazonAuthId" property="amazonauthid" jdbcType="CHAR" />
		<id column="marketplace_name" property="marketplaceName" jdbcType="CHAR" />
		<id column="posted_date" property="postedDate" jdbcType="DATE" />
		<id column="transaction_type" property="transactionType" jdbcType="CHAR" />
		<id column="amount_type" property="amountType" jdbcType="CHAR" />
		<id column="amount_description" property="amountDescription" jdbcType="CHAR" />
		<result column="currency" property="currency" jdbcType="CHAR" />
		<result column="amount" property="amount" jdbcType="DECIMAL" />
	</resultMap>
	
	<sql id="Base_Column_List">
		amazonAuthId, marketplace_name, posted_date, transaction_type, amount_type,
		amount_description, currency, amount, quantity_purchased
	</sql>
	
	<select id="settlementitem" resultType="java.util.Map" parameterType="java.util.Map">
		select s.amazonAuthId,s.marketplace_name,
		 <if test="datetype==null">
		    DATE_FORMAT(s.posted_date,'%y-%m') posted_date
		 </if>
		 <if test="datetype!=null">
  	        DATE_FORMAT(acc.deposit_date,'%y-%m') posted_date
         </if> 
		     , s.currency , 
			sum(case when a.region='EU' 
				then
					case when transaction_type='Order' and amount_type='ItemPrice'
						and (amount_description='Principal' or amount_description='Tax')
					then amount else 0 end
				else
				case when transaction_type='Order'
					and amount_description='Principal'
				then amount else 0 end
				end) in_principal ,
			sum(case when (transaction_type='Order'
				and amount_description!='Principal'
				and amount_description not like 'FBA%'
				and amount_description not like 'Commission%'
				) or amount_type='FBA Inventory Reimbursement' then amount else 0 end) in_other ,
		<!-- 注释此处以上算收入 -->
			sum(case when amount_type='Cost of Advertising' then amount else 0 end) out_adv ,

			sum(case when (transaction_type='Order' or transaction_type='Refund')
				and amount_description like 'Commission%' then amount else 0 end) out_commission,

			sum(case when transaction_type='Order' and amount_description like 'FBA%' then amount else 0 end) out_fba,
			sum(case when transaction_type='Refund' then amount else 0 end) out_refund,
	
			sum(case when (transaction_type!='Order' and transaction_type!='Refund'
				and amount_type!='Cost of Advertising'
				and amount_type!='FBA Inventory Reimbursement' )
				or ( transaction_type='Order'
				and amount_description='Principal'
				and amount_type!='ItemPrice' )
	
			then amount else 0 end ) out_other
			,sum(ifnull(s.amount,0)) converted_total
		from t_amz_settlement_summary_month s
		left join t_amazon_auth a on a.id=s.amazonAuthId
		<if test="datetype!=null">
			left join t_amz_settlement_acc_report acc on acc.settlement_id=s.settlementid
		</if>
		where 1=1
		 <if test="datetype==null">
		  and s.posted_date>=#{fromDate,jdbcType=CHAR}
		  and s.posted_date&lt;=#{endDate,jdbcType=CHAR}
		 </if>
		 <if test="datetype!=null">
  	         and acc.deposit_date&gt;=#{fromDate,jdbcType=CHAR}
  	         and acc.deposit_date&lt;=#{endDate,jdbcType=CHAR}
         </if>
		<if test="marketplace_name != null">
			and s.marketplace_name=#{marketplace_name,jdbcType=CHAR}
		</if>
		<if test="groupid != null">
			and a.groupid=#{groupid,jdbcType=CHAR}
		</if>
		<if test="settlementid != null">
			and s.settlementid=#{settlementid,jdbcType=CHAR}
		</if>
			and a.shop_id=#{shopid,jdbcType=CHAR}
		group by s.amazonAuthId,s.marketplace_name,
		 <if test="datetype==null">
		    DATE_FORMAT(s.posted_date,'%y-%m')
		 </if>
		 <if test="datetype!=null">
  	        DATE_FORMAT(acc.deposit_date,'%y-%m')
         </if>
		,s.currency
	</select>

	<select id="advfee" resultType="java.util.Map" parameterType="java.util.Map">
		select DATE_FORMAT(bydate,'%y-%m') posted_date,sum(spend) amount,m.currency
		from t_amz_advert_report adv
		left join t_amazon_auth a on a.sellerid=adv.sellerid
		left join t_marketplace m on m.marketplaceId=adv.marketplaceid
		where adv.bydate>=#{fromDate,jdbcType=CHAR}
			and adv.bydate&lt;=#{endDate,jdbcType=CHAR}
		<if test="marketplaceid != null">
			and adv.marketplaceid=#{marketplaceid,jdbcType=CHAR}
		</if>
		<if test="groupid != null">
			and a.groupid=#{groupid,jdbcType=CHAR}
		</if>
			and a.shop_id=#{shopid,jdbcType=CHAR}
		group by DATE_FORMAT(bydate,'%y-%m'),m.currency
		order by DATE_FORMAT(bydate,'%y-%m') asc
	</select>

	<select id="localitem" resultType="java.util.Map" parameterType="java.util.Map">
		select max(concat(right(CAST(m.year AS SIGNED),2),'-', case when m.month&lt;10 then '0' else '' end ,m.month)) posted_date,
			max(p.name) name ,max(m.rec -m.pay) amount
		from t_erp_fin_type_journalmonthly m
		LEFT JOIN t_erp_fin_account a ON a.id=m.acct
		left join t_erp_fin_project p on m.projectid=p.id
		where a.shopid=#{shopid,jdbcType=CHAR}
			<if test="datetype==null">
			and concat(m.year,'-',case when m.month&lt;10 then '0' else '' end ,m.month,'-01')>=#{fromDate,jdbcType=CHAR}
			and concat(m.year,'-',case when m.month&lt;10 then '0' else '' end ,m.month,'-01')&lt;=#{endDate,jdbcType=CHAR}
			</if>
			<if test="datetype!=null">
			and concat(m.year,'-',case when m.month&lt;10 then '0' else '' end ,m.month,'-01')>=#{setfromDate,jdbcType=CHAR}
			and concat(m.year,'-',case when m.month&lt;10 then '0' else '' end ,m.month,'-01')&lt;=#{setendDate,jdbcType=CHAR}
			</if>
		group by m.year,m.month,p.id
	</select>
	
	<select id="selectOtherin" resultType="java.util.Map" parameterType="java.util.Map">
		select t.amount_description amounttype,max(t.currency) currency ,sum(t.amount) amount
		from t_amz_settlement_summary_month t
		left join t_amazon_auth a on a.id=t.amazonAuthId
	    <if test="datetype!=null">
			left join t_amz_settlement_acc_report acc on acc.settlement_id=t.settlementid
		</if>
		where 1=1
		 <if test="datetype==null">
		  and t.posted_date>=#{fromDate,jdbcType=CHAR}
		  and t.posted_date&lt;=#{endDate,jdbcType=CHAR}
		 </if>
		 <if test="datetype!=null">
  	         and acc.deposit_date&gt;=#{fromDate,jdbcType=CHAR}
  	         and acc.deposit_date&lt;=#{endDate,jdbcType=CHAR}
  	         and t.posted_date&gt;=#{setfromDate,jdbcType=CHAR}
		     and t.posted_date&lt;=#{setendDate,jdbcType=CHAR}
		     <if test="marketplace_name != null">
			and acc.marketplace_name=#{marketplace_name,jdbcType=CHAR}
		     </if>
         </if>
 
			and a.shop_id=#{shopid,jdbcType=CHAR}
			and ((transaction_type='Order' and amount_description!='Principal'
				and amount_description not like 'FBA%' and amount_description not like 'Commission%' ) or amount_type='FBA Inventory Reimbursement')
		<if test="marketplace_name != null">
			and t.marketplace_name=#{marketplace_name,jdbcType=CHAR}
		</if>
		<if test="groupid != null">
			and a.groupid=#{groupid,jdbcType=CHAR}
		</if>
		group by t.amount_description,t.marketplace_name
	</select>

	<select id="selectOtherout" resultType="java.util.Map" parameterType="java.util.Map">
		select t.amount_description amounttype,t.currency ,sum(t.amount) amount
		from t_amz_settlement_summary_month t
		left join t_amazon_auth a on a.id=t.amazonAuthId
         <if test="datetype!=null">
			left join t_amz_settlement_acc_report acc on acc.settlement_id=t.settlementid
		</if>
		where 1=1
		 <if test="datetype==null">
		  and t.posted_date>=#{fromDate,jdbcType=CHAR}
		  and t.posted_date&lt;=#{endDate,jdbcType=CHAR}
		 </if>
		 <if test="datetype!=null">
  	         and acc.deposit_date&gt;=#{fromDate,jdbcType=CHAR}
  	         and acc.deposit_date&lt;=#{endDate,jdbcType=CHAR}
  	         and t.posted_date&gt;=#{setfromDate,jdbcType=CHAR}
		     and t.posted_date&lt;=#{setendDate,jdbcType=CHAR}
		     <if test="marketplace_name != null">
			  and acc.marketplace_name=#{marketplace_name,jdbcType=CHAR}
		     </if>
         </if>
			and a.shop_id=#{shopid,jdbcType=CHAR}
			AND ( t.transaction_type!='Order' and t.transaction_type!='Refund' and t.amount_type!='Cost of Advertising' 
				and t.amount_type!='FBA Inventory Reimbursement' or ( t.transaction_type='Order' and t.amount_description='Principal'
				and t.amount_type!='ItemPrice' )
			)
		<if test="marketplace_name != null">
			and t.marketplace_name=#{marketplace_name,jdbcType=CHAR}
		</if>
		<if test="groupid != null">
			and a.groupid=#{groupid,jdbcType=CHAR}
		</if>
		group by t.amount_description,t.marketplace_name
	</select>

	<delete id="refreshSummary" parameterType="java.util.Map">
		delete from t_amz_settlement_summary_month
		where   settlementid=#{settlement_id,jdbcType=CHAR};
			
		insert into t_amz_settlement_summary_month
		select UUID_SHORT(),
		       r.settlement_id,
		       r.amazonAuthId,
			   ifnull(rt.marketplace_name,r.marketplace_name),
		       r.posted_date,
		       transaction_type,
		       amount_type,
			   amount_description ,
			   fulfillment_id fulfillment_type, 
			   r.currency,sum(amount), 
			   sum(case when r.transaction_type='Refund' AND r.amount_type='ItemPrice' AND r.amount_description='Principal' then  
 	             IFNULL((SELECT sum(quantity) from t_amz_returns_report rr 
 	                                           where rr.order_id=r.order_id 
                                                 AND rr.sku=r.sku 
                                                 AND rr.sellerid=a.sellerid),1)
			 ELSE  r.quantity_purchased   END) quantity_purchased,
			COUNT(DISTINCT r.order_id)
		from t_amz_settlement_report r
		left JOIN t_amz_settlement_acc_report rt ON rt.settlement_id=r.settlement_id
		LEFT JOIN t_amazon_auth a ON a.id=r.amazonAuthId
		where  r.settlement_id=#{settlement_id,jdbcType=CHAR}
		group BY r.amazonAuthId,ifnull(rt.marketplace_name,r.marketplace_name),r.posted_date ,transaction_type ,amount_type ,amount_description,fulfillment_id,r.currency
	</delete>

	<insert id="insertBatch" parameterType="java.util.List">
		insert into t_amz_settlement_summary_month (amazonAuthId,
		marketplace_name, posted_date,
		transaction_type, amount_type, amount_description,
		fulfillment_type,currency, amount
		)
		values
		<foreach collection="list" item="smonth" index="index" separator=",">
			(
			#{smonth.amazonauthid,jdbcType=CHAR}, #{smonth.marketplaceName,jdbcType=CHAR},
			#{smonth.postedDate,jdbcType=DATE},
			#{smonth.transactionType,jdbcType=CHAR},
			#{smonth.amountType,jdbcType=CHAR},
			#{smonth.amountDescription,jdbcType=CHAR},
			#{smonth.fulfillmentType,jdbcType=CHAR},#{smonth.currency,jdbcType=CHAR},
			#{smonth.amount,jdbcType=DECIMAL}
			)
		</foreach>
	</insert>


	<select id="monthDetail" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT m.amazonAuthId,
		m.marketplace_name,
		m.transaction_type,
		m.amount_type,
		m.amount_description,
		max(transaction_type.cname) transaction_typename,
		max(amount_type.cname) amount_typename,
		max(amount_description.cname) amount_descriptionname,
		sum(
		case when
		    m.transaction_type='Order'
		    and m.amount_type='ItemPrice'
		    and m.amount_description='Principal'
		    then m.quantity_orders ELSE 0 END

		) orders,
		sum(
		case when
		m.transaction_type='Refund'
		and m.amount_type='ItemPrice'
		and m.amount_description='Principal'
		then m.quantity_orders ELSE 0 END

		) refundOrders,
		m.currency,
		case when count(nosku.transaction_type) >0 then 1 ELSE 0 END isnosku,
		sum(m.amount) amount
		from t_amz_settlement_summary_month m
		LEFT JOIN t_amz_settlement_amount_description transaction_type ON transaction_type.ename=m.transaction_type
		LEFT JOIN t_amz_settlement_amount_description amount_type ON amount_type.ename=m.amount_type
		LEFT JOIN t_amz_settlement_amount_description amount_description ON amount_description.ename=m.amount_description
		LEFT JOIN t_amz_settlement_amount_type_nonsku nosku ON nosku.transaction_type=m.transaction_type
		AND nosku.amount_type=m.amount_type
		AND nosku.amount_description=case when nosku.amount_description='*' then nosku.amount_description ELSE  m.amount_description end
		LEFT JOIN t_amazon_auth a ON a.id=m.amazonAuthId
		LEFT JOIN t_amazon_group g ON g.id=a.groupid
		<if test="datetype!=null">
			left join t_amz_settlement_acc_report acc on acc.settlement_id=m.settlementid
		</if>
		where 1=1
		<if test="datetype==null">
			and m.posted_date>=#{fromDate,jdbcType=CHAR}
			and m.posted_date&lt;=#{endDate,jdbcType=CHAR}
		</if>
		<if test="datetype!=null">
			and acc.deposit_date&gt;=#{fromDate,jdbcType=CHAR}
			and acc.deposit_date&lt;=#{endDate,jdbcType=CHAR}
			<if test="marketplace_name != null">
				and acc.marketplace_name=#{marketplace_name,jdbcType=CHAR}
			</if>
		</if>
		  AND g.shopid=#{shopid,jdbcType=CHAR}
		  <if test="groupid != null">
		  and g.id=#{groupid,jdbcType=CHAR}
		  </if>
		  <if test="marketplace_name != null">
		  AND m.marketplace_name=#{marketplace_name,jdbcType=CHAR}
		  </if>
		  <if test="amazonAuthId != null">
		  AND m.amazonAuthId=#{amazonAuthId,jdbcType=CHAR}
		  </if>
		GROUP BY m.amazonAuthId,m.marketplace_name,m.transaction_type,m.amount_type,m.amount_description,m.currency
	</select>

	<select id="monthReport" resultType="java.util.Map" parameterType="java.util.Map">
		WITH mapped AS (
			SELECT
				amazonauthid,
			marketplaceid,
			date_time,
			description,
			order_id,
			quantity,
			marketplace_withheld_tax,
				total,
				product_sales,
				shipping_credits,
				giftwrap_credits,
				promotional_rebates,
				selling_fees,
				fba_fees,
				other_transaction_fees,
				other,
			product_sales_tax,
			shipping_credits_tax,
			giftwrap_credits_tax,
			promotional_rebates_tax,
			-- 映射标准化交易类型
				CASE
					WHEN transaction_type IN ('Order','Pedido','Bestellung','Ordine','Bestelling','Commande','Zamówienie','Bestellung_Wiedereinzug') THEN 'Order'
					WHEN transaction_type IN ('Refund','Reembolso','Erstattung','Rimborso','Terugbetaling','Remboursement','Återbetalning','Zwrot kosztów') THEN 'Refund'
					WHEN transaction_type IN ('Service Fee','Tarifa de servicio','Servicegebühr','Commissione di servizio','Frais de service','Opłata za usługę','Serviceavgift','Service Fee - Reversal') THEN 'Service Fee'
					WHEN transaction_type IN ('Transfer','Trasferir','Übertrag','Trasferimento','Overboeking','Transfert','Transférer','Överföring','Przelew') THEN 'Transfer'
					WHEN transaction_type IN ('Adjustment','Ajuste','Anpassung','Modifica','Aanpassing','Ajustement','Justering','Ajuste de tarifa') THEN 'Adjustment'
					WHEN transaction_type IN ('FBA Inventory Fee','Tarifa de inventario FBA','Costo de stoccaggio Logística de Amazon','Tarifas de inventario de Logística de Amazon','Frais de stock Expédié par Amazon','FBA Inventory Fee - Reversal','FBA Inventory Fee - Correction','FBA Inventory Fee [Amazon Haul]') THEN 'FBA Inventory Fee'
					WHEN transaction_type IN ('FBA Customer Return Fee','Tarifa de devolución del cliente de Logística de A','Fulfilment by Amazon customer return fee','Fulfilment by Amazon (FBA) transaction fees','FBA-kosten retourzending klant','Frais de retour client FBA','Tariffa di reso cliente di Logistica di Amazon','Gebühren für Kundenrücksendungen mit Versand durch','Frais de retour client Expédié par Amazon','Avgift för FBA-kundreturer') THEN 'FBA Customer Return Fee'
					WHEN transaction_type IN ('Liquidations','Liquidationen','Liquidazioni','Liquidationsanpassungen','Liquidations [Amazon Haul]') THEN 'Liquidations'
					WHEN transaction_type IN ('Liquidations Adjustments','Aggiustamenti di liquidazione','Liquidationsanpassungen') THEN 'Liquidations Adjustments'
					WHEN transaction_type IN ('Amazon Fees','Tarifas de Amazon','Gebühren von Amazon','Amazon Fees - Reversal','Amazon Fees - Correction','Amazon Fees - Umkehrung','Amazon Fees - Korrektur','Amazon Charges') THEN 'Amazon Fees'
					WHEN transaction_type IN ('Fee Adjustment','Ajustement des frais','Gebührenerstattung','Ajuste de tarifa') THEN 'Fee Adjustment'
					WHEN transaction_type IN ('Order_Retrocharge','Cargo retroactivo','Bestellung_Wiedereinzug','Erstattung_Wiedereinzug') THEN 'Order_Retrocharge'
					WHEN transaction_type IN ('Refund_Retrocharge','Chargeback Refund') THEN 'Refund_Retrocharge'
					WHEN transaction_type IN ('FBA Transaction fees','Tarifas de transacción de Logística de Amazon','Transaktionsgebühren für Versand durch Amazon','Commissioni per le transazioni di Logistica di Ama','Frais de transaction Expédié par Amazon','Fulfilment by Amazon transaction fees') THEN 'FBA Transaction fees'
					WHEN transaction_type IN ('Other','Otros','Sonstige','Altro','Overig','Autre','Övrigt','Inne') THEN 'Other'
					WHEN transaction_type IN ('A-to-z Guarantee Claim','SAFE-T reimbursement','SAFE-T reimbursement') THEN 'SAFE-T reimbursement'
					WHEN transaction_type IN ('Shipping Services','Servicios de envío','Versandservice','Servizi di spedizione','Verzenddiensten','Services d''expédition','Fraktjänster') THEN 'Shipping Services'
					WHEN transaction_type IN ('Debt','Deuda','Schuld','Debito','Schuld','Dette','Dług') THEN 'Debt'
					WHEN transaction_type IN ('Negative balance','Saldo negativo','Saldo descubierto','Solde négatif','Negatief saldo','Saldo negativo','Negativt saldo') THEN 'Negative balance'
					ELSE transaction_type
				END AS std_transaction_type,
				-- 映射标准化履约方式
				CASE
					WHEN fulfillment IN ('Amazon') THEN 'AFN'
					WHEN fulfillment IN ('Seller','Vendedor') THEN 'MFN'
					ELSE fulfillment
				END AS std_fulfillment
			FROM t_amz_transaction_report
			WHERE amazonauthid = #{amazonauthid,jdbcType=CHAR}
				AND date_time &gt;= #{fromDate,jdbcType=CHAR}
				AND date_time &lt;= #{endDate,jdbcType=CHAR}
	),
	refund_orders AS (
		SELECT DISTINCT order_id
		FROM t_amz_transaction_report
		WHERE amazonauthid = #{amazonauthid,jdbcType=CHAR}
			AND transaction_type IN ('Refund','Reembolso','Erstattung','Rimborso','Terugbetaling','Remboursement','Återbetalning','Zwrot kosztów')
			AND order_id IS NOT NULL
	)
	SELECT
			DATE(m.date_time) AS posted_date,
			t.currency AS currency,

			SUM(CASE WHEN m.std_transaction_type = 'Order' AND m.std_fulfillment = 'MFN' THEN m.product_sales ELSE 0 END) AS `Seller fulfilled product sales`,
			SUM(CASE WHEN m.std_transaction_type = 'Refund' AND m.std_fulfillment = 'MFN' THEN m.product_sales ELSE 0 END) AS `Seller_fulfilled product sale refunds`,
			SUM(CASE WHEN m.std_transaction_type = 'Order' AND m.std_fulfillment = 'AFN' THEN m.product_sales ELSE 0 END) AS `FBA product sales`,
			SUM(CASE WHEN m.std_transaction_type = 'Refund' AND m.std_fulfillment = 'AFN' THEN m.product_sales ELSE 0 END) AS `FBA product sale refunds`,
			SUM(CASE WHEN m.std_transaction_type = 'Adjustment' AND m.description IN (
				'FBA Inventory Reimbursement - Customer Return',
				'FBA Inventory Reimbursement - Customer Service Issue',
				'FBA Inventory Reimbursement - Damaged:Warehouse',
				'FBA Inventory Reimbursement - Lost:Warehouse'
			) THEN m.other ELSE 0 END) AS `FBA inventory credit`,
			SUM(CASE WHEN m.std_transaction_type = 'Liquidations' THEN m.product_sales ELSE 0 END) AS `FBA liquidation proceeds`,
			SUM(CASE WHEN m.std_transaction_type = 'Liquidations Adjustments' THEN m.product_sales ELSE 0 END) AS `FBA Liquidations proceeds adjustments`,
			SUM(CASE WHEN m.std_transaction_type = 'Order' THEN m.shipping_credits ELSE 0 END) AS `Postage credits`,
			SUM(CASE WHEN m.std_transaction_type = 'Refund' THEN m.shipping_credits ELSE 0 END) AS `Delivery credit refunds`,
			SUM(CASE WHEN m.std_transaction_type = 'Order' THEN m.giftwrap_credits ELSE 0 END) AS `Gift wrap credits`,
			SUM(CASE WHEN m.std_transaction_type = 'Refund' THEN m.giftwrap_credits ELSE 0 END) AS `Gift wrap credits refunds`,
			SUM(CASE WHEN m.std_transaction_type = 'Order' THEN m.promotional_rebates ELSE 0 END) AS `Promotional rebates`,
			SUM(CASE WHEN m.std_transaction_type = 'Refund' THEN m.promotional_rebates ELSE 0 END) AS `Promotional rebate refunds`,
			SUM(CASE WHEN m.std_transaction_type = 'Order' AND m.std_fulfillment = 'MFN' THEN m.selling_fees ELSE 0 END) AS `Seller_fulfilled selling fees`,
			SUM(CASE WHEN m.std_transaction_type = 'Order' AND m.std_fulfillment = 'AFN' THEN m.selling_fees ELSE 0 END) AS `FBA selling fees`,
			SUM(CASE WHEN m.std_transaction_type = 'Refund' THEN m.selling_fees ELSE 0 END)
			-(SUM(CASE WHEN m.order_id IS NOT NULL AND ro.order_id IS NOT NULL THEN m.selling_fees ELSE 0 END)) AS `Selling fee refunds`,
			SUM(CASE WHEN m.std_transaction_type = 'Service Fee' AND m.other &gt; 0 THEN m.other ELSE 0 END) AS `Refund for Advertiser`,
			SUM(CASE WHEN m.std_transaction_type = 'Order' THEN m.fba_fees ELSE 0 END) AS `FBA transaction fees`,
			SUM(CASE WHEN m.std_transaction_type IN ('Refund', 'Fee Adjustment') THEN m.fba_fees ELSE 0 END) AS `FBA transaction fee refunds`,
			SUM(CASE WHEN m.std_transaction_type = 'Order' THEN m.other_transaction_fees ELSE 0 END) AS `Other transaction fees`,
			SUM(CASE WHEN m.std_transaction_type = 'Refund' THEN m.other_transaction_fees ELSE 0 END) AS `Other transaction fee refunds`,
			SUM(CASE WHEN m.std_transaction_type = 'FBA Customer Return Fee' AND m.description = 'FBA Customer Return Per Unit Fee (Apparel &amp; Shoes)' THEN m.fba_fees ELSE 0 END)
			+ SUM(CASE WHEN m.std_transaction_type = 'FBA Inventory Fee' AND m.description IN ('FBA Long-Term Storage Fee', 'FBA Removal Order: Disposal Fee', 'FBA storage fee') THEN m.other ELSE 0 END) AS `FBA inventory and inbound services fees`,
			SUM(CASE WHEN m.std_transaction_type IN ('Service Fee', 'Amazon Fees') THEN m.fba_fees ELSE 0 END)
			+ SUM(CASE WHEN m.std_transaction_type = 'Service Fee' THEN m.other ELSE 0 END) AS `Service fees`,
			SUM(CASE WHEN m.order_id IS NOT NULL AND ro.order_id IS NOT NULL THEN m.selling_fees ELSE 0 END) AS `Refund administration fees`,
			SUM(CASE WHEN m.std_transaction_type = 'Adjustment' AND m.description IN ('FBA Inventory Reimbursement - General Adjustment', 'Other') THEN m.other ELSE 0 END) AS `Adjustments`,
			SUM(CASE WHEN m.std_transaction_type = 'Service Fee' AND m.description = 'Cost of Advertising' THEN m.other_transaction_fees ELSE 0 END) AS `Cost of Advertising`,
			SUM(CASE WHEN m.std_transaction_type IN ('Liquidations', 'Liquidations Adjustments') THEN m.other_transaction_fees ELSE 0 END) AS `Liquidations fees`,
			SUM(CASE WHEN m.std_transaction_type IN ('Order', 'Liquidations', 'Order_Retrocharge', 'Liquidations Adjustments')
				THEN m.product_sales_tax + m.shipping_credits_tax + m.giftwrap_credits_tax + m.promotional_rebates_tax ELSE 0 END) AS `Product, delivery and gift wrap taxes collected`,
			SUM(CASE WHEN m.std_transaction_type IN ('Refund', 'Refund_Retrocharge')
				THEN m.product_sales_tax + m.shipping_credits_tax + m.giftwrap_credits_tax + m.promotional_rebates_tax ELSE 0 END) AS `Product, delivery and gift wrap taxes refunded`,
			SUM(m.marketplace_withheld_tax) AS `Amazon obligated tax withheld`,
			SUM(CASE WHEN m.std_transaction_type = 'Order' THEN m.quantity ELSE 0 END) AS `order_quantity`,
			SUM(CASE WHEN m.std_transaction_type = 'Transfer' THEN m.other ELSE 0 END) AS `Transfers to bank account`,
			SUM(m.total) AS `Total Income Expenses Tax`
		FROM mapped m
		JOIN t_marketplace t ON m.marketplaceid = t.marketplaceId AND t.point_name = #{marketplace_name,jdbcType=CHAR}
		LEFT JOIN refund_orders ro ON m.order_id = ro.order_id
		GROUP BY DATE(m.date_time), t.currency
	</select>

	<select id="FailedTransfersToBankAccount" resultType="java.math.BigDecimal">
		 SELECT SUM(r.total_amount)*-1
		 FROM t_amz_settlement_acc_report r
		 WHERE
			 r.amazonauthid=#{amazonauthid,jdbcType=CHAR}
		   AND  r.marketplace_name=#{marketplace_name,jdbcType=CHAR}
		   and
			 ( (r.deposit_date>=#{fromDate,jdbcType=CHAR}
				 and
				r.deposit_date&lt;#{endDate,jdbcType=CHAR}
				   )
				 or
			   ( r.settlement_start_date>=#{fromDate,jdbcType=CHAR}
				   AND
				 r.settlement_end_date&lt;#{endDate,jdbcType=CHAR}
				   )
				 )
		   and r.invalid=1
	</select>

	<select id="quantityByDay" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
		<choose>
			<when test="groupType == 'month'">
				DATE_FORMAT(m.posted_date,'%Y/%m') as postdate,
			</when>
			<when test="groupType == 'week'">
				CONCAT(YEAR(m.posted_date),'/',LPAD(WEEK(m.posted_date,1)+1,2,'0'),'周') as postdate,
			</when>
			<otherwise>
				DATE_FORMAT(m.posted_date,'%Y/%m/%d') as postdate,
			</otherwise>
		</choose>
		SUM(CASE WHEN m.amount_description='Principal' THEN m.quantity_purchased ELSE 0 END) as quantity,
		SUM(CASE WHEN m.amount_description='Principal' THEN m.amount ELSE 0 END) as amount,
		SUM(CASE WHEN m.amount_description='FBAPerUnitFulfillmentFee' THEN ABS(m.amount) ELSE 0 END) as fbafee,
		SUM(CASE WHEN m.amount_description='Commission' THEN ABS(m.amount) ELSE 0 END) as commission
		FROM t_amz_settlement_summary_month m
		LEFT JOIN t_amazon_auth a ON a.id=m.amazonAuthId
		LEFT JOIN t_amazon_group g ON g.id=a.groupid
		WHERE m.amount_description IN ('Principal','FBAPerUnitFulfillmentFee','Commission')
		AND (
			(m.amount_description='Principal' AND m.transaction_type='Order' AND m.amount_type='ItemPrice')
			OR m.amount_description IN ('FBAPerUnitFulfillmentFee','Commission')
		)
		AND m.posted_date&gt;=#{fromDate,jdbcType=CHAR}
		AND m.posted_date&lt;=#{endDate,jdbcType=CHAR}
		AND g.shopid=#{shopid,jdbcType=CHAR}
		<if test="groupid != null">
		AND g.id=#{groupid,jdbcType=CHAR}
		</if>
		<if test="marketplace_name != null">
		AND m.marketplace_name=#{marketplace_name,jdbcType=CHAR}
		</if>
		<if test="amazonAuthId != null">
		AND m.amazonAuthId=#{amazonAuthId,jdbcType=CHAR}
		</if>
		GROUP BY postdate
		ORDER BY postdate
	</select>

	<select id="dailyIncomeReport" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
		DATE_FORMAT(m.posted_date,'%Y/%m/%d') as posted_date,
		m.currency,

		SUM(case when
					 transaction_type='Order'
						 and amount_type='ItemPrice'
						 and amount_description='Principal'
		                 and fulfillment_type='MFN'
					 then  amount ELSE 0 END ) `Seller fulfilled product sales`,

		SUM(case when
					 (transaction_type='Refund'
						 and amount_type='ItemPrice'
						 and amount_description in ('Principal','Goodwill','RestockingFee')
						 and fulfillment_type='MFN')
					 then  amount ELSE 0 END ) `Seller_fulfilled product sale refunds`,

		SUM(case when
		transaction_type='Order'
		and amount_type='ItemPrice'
		and amount_description='Principal'
		and fulfillment_type='AFN'
		then  amount ELSE 0 END ) `FBA product sales`,

		SUM(case when
		(transaction_type='Refund'
		and amount_type='ItemPrice'
		and amount_description in ('Principal','Goodwill','RestockingFee')
		and fulfillment_type='AFN')
		then  amount ELSE 0 END ) `FBA product sale refunds`,

		SUM(case when
		(transaction_type='other-transaction'
		and amount_type='FBA Inventory Reimbursement'
		and amount_description IN ('REVERSAL_REIMBURSEMENT','WAREHOUSE_LOST','WAREHOUSE_DAMAGE','FREE_REPLACEMENT_REFUND_ITEMS') )
		then amount ELSE 0 END ) `FBA inventory credit`,

		SUM(case when
		(transaction_type='Liquidations'
		and amount_type='ItemPrice'
		and amount_description = 'Principal' )
		then amount ELSE 0 END ) `FBA liquidation proceeds`,

		SUM(case when
		(transaction_type='Liquidations Adjustments'
		and amount_type='ItemPrice'
		and amount_description = 'Principal' )
		then amount ELSE 0 END ) `FBA Liquidations proceeds adjustments`,

		SUM(case when
		(transaction_type='Order'
		and amount_type='ItemPrice'
		and amount_description = 'Shipping' )
		then amount ELSE 0 END ) `Postage credits`,

		SUM(case when
		(transaction_type='Refund'
		and amount_type='ItemPrice'
		and amount_description = 'Shipping' )
		then amount ELSE 0 END ) `Delivery credit refunds`,

		SUM(case when
		(transaction_type='Order'
		and amount_type='ItemPrice'
		and amount_description = 'GiftWrap' )
		then amount ELSE 0 END ) `Gift wrap credits`,

		SUM(case when
		(transaction_type='Refund'
		and amount_type='ItemPrice'
		and amount_description = 'GiftWrap' )
		then amount ELSE 0 END ) `Gift wrap credits refunds`,

		SUM(case when
		(transaction_type='Order'
		and amount_type='Promotion'
		and amount_description = 'Shipping' )
		then amount ELSE 0 END ) `Promotional rebates`,

		SUM(case when
		(transaction_type='Refund'
		and amount_type='Promotion'
		and amount_description = 'Shipping' )
		then amount ELSE 0 END ) `Promotional rebate refunds`,

		SUM(case when
					 (transaction_type='Order'
						 and amount_type in ('ItemFees','ItemFee')
						 and amount_description = 'Commission'
					     and fulfillment_type='MFN')
					 then amount ELSE 0 END ) `Seller_fulfilled selling fees`,

		SUM(case when
		(transaction_type='Order'
		and amount_type in ('ItemFees','ItemFee')
		and amount_description = 'Commission'
		and fulfillment_type='AFN')
		then amount ELSE 0 END ) `FBA selling fees`,

		SUM(case when
		(transaction_type='Refund'
		and amount_type='ItemFees'
		and amount_description = 'Commission' )
		then amount ELSE 0 END ) `Selling fee refunds`,

		SUM(case when
		 (transaction_type='ServiceFee'
		 and amount_type='Refund for Advertiser'
		 and amount_description = 'TransactionTotalAmount' )
		 then amount ELSE 0 END ) `Refund for Advertiser`,

		SUM(case when
		transaction_type in ('Order','FBAFees')
		and amount_type in ('ItemFees','ItemFee','FBA Customer Returns Fee (Non-Apparel an')
		and amount_description  IN( 'FBAPerUnitFulfillmentFee',
		                            'ShippingChargeback',
		                            'GiftwrapChargeback',
		                            'Base fee' )
		then amount ELSE 0 END ) `FBA transaction fees`,

		SUM(case when
		(transaction_type='Refund'
		and amount_type='ItemFees'
		and amount_description = 'ShippingChargeback' ) OR
		(transaction_type='Fee Adjustment'
		and amount_type='Item Fee Adjustment'
		and amount_description = 'FBA Pick &amp; Pack Fee')
		then amount ELSE 0 END ) `FBA transaction fee refunds`,

		SUM(case when
		(transaction_type='Order'
		and amount_type='ItemFees'
		and amount_description IN( 'Digital Services Fee','DigitalServicesFee' ))
		then amount ELSE 0 END ) `Other transaction fees`,

		SUM(case when
		(transaction_type='Refund'
		and amount_type='ItemFees'
		and amount_description IN( 'Digital Services Fee','DigitalServicesFee' ))
		then amount ELSE 0 END ) `Other transaction fee refunds`,

		SUM(case when
		(transaction_type='other-transaction'
		and amount_type IN ('other-transaction','ItemFees' )
		and amount_description IN( 'Storage Fee','StorageRenewalBilling','Inbound Transportation Fee',
		                           'DisposalComplete','FBACustomerReturnPerUnitFee' ))
		then amount ELSE 0 END ) `FBA inventory and inbound services fees`,

		SUM(case when
			 (transaction_type in ('other-transaction','AmazonFees')
				 and amount_type in ('other-transaction','Deal Participation Fee','Deal Performance Based Fee')
				 and amount_description  IN( 'Subscription Fee','Base fee' ))
		then amount ELSE 0 END ) `Service fees`,

		SUM(case when
		(transaction_type='Refund'
		and amount_type='ItemFees'
		and amount_description = 'RefundCommission' )
		then amount ELSE 0 END ) `Refund administration fees`,

		SUM(case when
		(transaction_type='other-transaction'
		and amount_type in ('FBA Inventory Reimbursement','other-transaction')
		and amount_description IN( 'COMPENSATED_CLAWBACK','REMOVAL_ORDER_LOST','Overpaid Fees Adjustment','BuyerRecharge') )
		then amount ELSE 0 END ) `Adjustments`,

		SUM(case when
		(transaction_type='ServiceFee'
		and amount_type='Cost of Advertising'
		and amount_description = 'TransactionTotalAmount' )
		then amount ELSE 0 END ) `Cost of Advertising`,

		SUM(case when
		(transaction_type IN ('Liquidations' ,'Liquidations Adjustments')
		and amount_type IN ('ItemFees')
		and amount_description IN( 'LiquidationsBrokerageFee','LiquidationsBrokerageFee' ))
		then amount ELSE 0 END ) `Liquidations fees`,

		SUM(case when
		(transaction_type IN ('Order' ,'Liquidations','Order_Retrocharge','Liquidations Adjustments')
		and amount_type IN ('ItemPrice','Promotion')
		and amount_description IN( 'Tax','ShippingTax','GiftWrapTax','TaxDiscount' ))
		then amount ELSE 0 END )  `Product, delivery and gift wrap taxes collected`,

		SUM(case when
		(transaction_type IN ('Refund','Refund_Retrocharge')
		and amount_type IN ('ItemPrice','Promotion')
		and amount_description IN( 'Tax','ShippingTax','GiftWrapTax','TaxDiscount' ))
		then amount ELSE 0 END )  `Product, delivery and gift wrap taxes refunded`,

		SUM(case when
		amount_type ='ItemWithheldTax'
		then amount ELSE 0 END )  `Amazon obligated tax withheld`,

		sum(m.amount) `Total Income Expenses Tax`
		from t_amz_settlement_summary_month m
		LEFT JOIN t_amazon_auth a ON a.id=m.amazonAuthId
		LEFT JOIN t_amazon_group g ON g.id=a.groupid
		WHERE m.posted_date&gt;=#{fromDate,jdbcType=CHAR}
		AND m.posted_date&lt;=#{endDate,jdbcType=CHAR}
		AND g.shopid=#{shopid,jdbcType=CHAR}
		<if test="groupid != null">
		AND g.id=#{groupid,jdbcType=CHAR}
		</if>
		<if test="marketplace_name != null">
		AND m.marketplace_name=#{marketplace_name,jdbcType=CHAR}
		</if>
		<if test="amazonAuthId != null">
		AND m.amazonAuthId=#{amazonAuthId,jdbcType=CHAR}
		</if>
		group by DATE_FORMAT(m.posted_date,'%Y/%m/%d'),m.currency
		ORDER BY posted_date
	</select>

	<select id="orderQuantityByDay" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			DATE_FORMAT(t.date_time,'%Y/%m/%d') as posted_date,
			SUM(t.quantity) as order_quantity
		FROM t_amz_transaction_report t
		WHERE t.amazonauthid = #{amazonauthid,jdbcType=CHAR}
			AND t.date_time &gt;= #{fromDate,jdbcType=CHAR}
			AND t.date_time &lt;= #{endDate,jdbcType=CHAR}
			AND t.transaction_type = 'Order'
		GROUP BY DATE_FORMAT(t.date_time,'%Y/%m/%d')
		ORDER BY posted_date
	</select>
</mapper>