<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.finance.voucher.mapper.FinVoucherSummaryMapper">

    <resultMap type="com.wimoor.finance.voucher.domain.FinVoucherSummary" id="FinVoucherSummaryResult">
        <result property="id"    column="id"    />
        <result property="summary"    column="summary"    />
        <result property="groupid"    column="groupid"    />
        <result property="createBy"    column="create_by"    />
        <result property="createdTime"    column="created_time"    />
    </resultMap>

    <sql id="selectFinVoucherSummaryVo">
        select id, summary, groupid, create_by, created_time from fin_voucher_summary
    </sql>

    <select id="selectFinVoucherSummaryList" parameterType="com.wimoor.finance.voucher.domain.FinVoucherSummary" resultMap="FinVoucherSummaryResult">
        <include refid="selectFinVoucherSummaryVo"/>
        <where>
            <if test="summary != null  and summary != ''"> and summary like concat('%', #{summary}, '%')</if>
            <choose>
                <when test="groupid != null  and groupid != ''"> and (groupid = #{groupid} or groupid is null)</when>
            </choose>
        </where>
        order by created_time desc
    </select>

    <select id="selectFinVoucherSummaryById" parameterType="Long" resultMap="FinVoucherSummaryResult">
        <include refid="selectFinVoucherSummaryVo"/>
        where id = #{id}
    </select>

    <insert id="insertFinVoucherSummary" parameterType="com.wimoor.finance.voucher.domain.FinVoucherSummary" useGeneratedKeys="true" keyProperty="id">
        insert into fin_voucher_summary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="summary != null and summary != ''">summary,</if>
            <if test="groupid != null and groupid != ''">groupid,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createdTime != null">created_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="summary != null and summary != ''">#{summary},</if>
            <if test="groupid != null and groupid != ''">#{groupid},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
         </trim>
    </insert>

    <update id="updateFinVoucherSummary" parameterType="com.wimoor.finance.voucher.domain.FinVoucherSummary">
        update fin_voucher_summary
        <trim prefix="SET" suffixOverrides=",">
            <if test="summary != null and summary != ''">summary = #{summary},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFinVoucherSummaryById" parameterType="Long">
        delete from fin_voucher_summary where id = #{id}
    </delete>

    <delete id="deleteFinVoucherSummaryByIds" parameterType="Long">
        delete from fin_voucher_summary where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
